<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admin_reg</servlet-name>
        <servlet-class>admin_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_register</servlet-name>
        <servlet-class>admin_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passanger</servlet-name>
        <servlet-class>passanger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addflight</servlet-name>
        <servlet-class>addflight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_flight</servlet-name>
        <servlet-class>add_flight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upi</servlet-name>
        <servlet-class>upi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_reg</servlet-name>
        <servlet-class>user_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>card_payment</servlet-name>
        <servlet-class>card_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flight_Search</servlet-name>
        <servlet-class>Flight_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket_Booking</servlet-name>
        <servlet-class>Ticket_Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel</servlet-name>
        <servlet-class>cancel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_reg</servlet-name>
        <url-pattern>/admin_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_register</servlet-name>
        <url-pattern>/admin_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passanger</servlet-name>
        <url-pattern>/passanger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addflight</servlet-name>
        <url-pattern>/addflight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_flight</servlet-name>
        <url-pattern>/add_flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upi</servlet-name>
        <url-pattern>/upi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_reg</servlet-name>
        <url-pattern>/user_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>card_payment</servlet-name>
        <url-pattern>/card_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flight_Search</servlet-name>
        <url-pattern>/Flight_Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket_Booking</servlet-name>
        <url-pattern>/Ticket_Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
